{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "standard-react",
    "plugin:prettier/recommended",
    "prettier/standard",
    "prettier/react",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0,
    "import/order": [
      2,
      { "groups": ["parent", "sibling"], "newlines-between": "always" }
    ],
    "prefer-promise-reject-errors": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "no-return-assign": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-continue": "off",
    "func-names": "off",
    "no-bitwise": "off",
    "consistent-return": "off",
    "import/no-webpack-loader-syntax": "off",
    "no-restricted-globals": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-curly-newline": "off"
  }
}
