{
  "extends": [
    "stylelint-config-yoctol",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "comment-empty-line-before": null,
    "declaration-empty-line-before": null,
    "value-keyword-case": null
  }
}